@page
@model AdminProductModel
@{
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
    int i = 1;
}

<h4>Danh Mục Sản Phẩm</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Category</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Size</th>
                <th scope="col">Color</th>
                <th scope="col">CreateDay</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in Model.Products)
            {
                <tr>
                    <td>@(i++)</td>
                    <td>@account.CategoryId</td>
                    <td>@account.Image</td>
                    <td>@account.ProductName</td>
                    <td>@account.Desciption</td>
                    <td>@account.Price</td>
                    <td>@account.Quantity</td>
                    <td>@account.Size</td>
                    <td>@account.Color</td>
                    <td>@account.CreateDay</td>
                    <td>
                        <a href="/Edit?id=@account.ProductId">Edit</a> |
                        <a href="/Delete?id=@account.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>